/* General CSS styling*/
@font-face {
  src: url(assets/fonts/PixulBrushExtended.ttf);
  font-family: pixul-brush;
}

body {
  font-family: pixul-brush, sans-serif;
  color: hsl(0, 0%, 0%);
}

h1 {
  font-weight: normal;
}

p, label, option, select{
  font-family: pixul-brush, sans-serif;
  color: hsl(0, 0%, 20%);
  text-align: center;
}

input {
  font-family: pixul-brush, sans-serif;
}

button {
  font-family: pixul-brush, sans-serif;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 80%);
  border: 2px solid hsl(0, 0%, 70%);
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 70%);
}

button:active {
  background-color: hsl(0, 0%, 60%);
}

/* CSS styling specific the weather app */
body {
  background-color: hsl(0, 0%, 95%);
  margin: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.weatherForm {
  margin: 20px;
}

.cityInput {
  padding: 10px;
  font-size: 2rem;
  border: 2px solid hsla(0, 0, 20%, 0.3);
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 2rem;
  background-color: hsl(122, 39%, 50%);
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: hsl(122, 39%, 40%);
}

.gameCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
}

.card {
  background: linear-gradient(189deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  width: clamp(15%, 300px, 300px);
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease 1s 0s;
}

.resultsBlock {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horizontalCard {
  background: linear-gradient(189deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: ease 1s 0s;
}
.horizontalCard * {
  color: white;
}
.horizontalCard #high *{
  font-size: 4rem;
}
.horizontalCard #low *{
  font-size: 3rem;
}
.scoreGrid {
  font-size: 2rem;
}

.card .dataBox {
  margin: 10px 0;
}
.card .dataBox * {
  color: white;
  font-size: 2.25rem;
}
.card #high *, .card #humid *, .card #precip *{
  color: hsl(0, 0%, 100%);
}
.card #low * {
  color: hsl(0, 0%, 93%);
}

.card .numBox {
  margin: 10px 0px;
}

.card .numBox input {
  background-color: transparent;
  border: none;
  text-align: right;
  width: 50%;
}
.card .numBox input:not(:disabled) {
  border-bottom: 2px solid;
}
.card #high input {
  font-size: 3.75rem;
  width: 47%;
}
.card #low input {
  font-size: 3.1rem;
  width: 42%;
}
.card #humid input {
  width: 32%;
}
.card #precip input {
  width: 37%;
}

.localStyle {
  border-bottom: 2px dotted black;
  cursor: pointer;
}

select, option {
  background-color: transparent;
  border: none;
  outline: none; 
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  padding: 0; 
  margin: 0;
  width: auto; 
  box-sizing: border-box;
  border-bottom: 2px solid;
  cursor:pointer;
}
option {
  background-color: hsl(0, 0%, 20%);
}
option:hover {
  background-color: hsl(0, 0%, 10%);
}
select:disabled {
  opacity: 1;
}

.correct {
  background-color: hsla(120, 100%, 50%, 0.3);
}
.incorrect {
  background-color: hsla(0, 100%, 50%, 0.3);
}
.partial {
  background-color: hsla(61, 100%, 50%, 0.3);
}
*[disabled] {
  border-bottom: none;
}

.card #high label {
  font-size: 3.3rem;
}
.card #low label {
  font-size: 3.1rem;
}

input:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.deactivated {
  background: linear-gradient(189deg, hsl(256, 74%, 41%), hsl(210, 97%, 69%));
}
.completed {
  background: linear-gradient(189deg, hsl(236, 60%, 47%), hsl(44, 100%, 59%));
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.85);
  border: 2px solid black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  z-index: 1000;
  font-size: 1.75rem;
}

.toggle-switch {
  position: fixed;
  right: 0;
}

.slider {
  background-color: orange;
  transition: ease 0.5s;
}
.slider:hover {
  background-color: hsl(39, 100%, 35%);
}
.on {
  background-color: aqua;
}
.on:hover {
  background-color: hsl(180, 100%, 35%);
}

h1 {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 2.25rem;
  margin: 5px 0;
}

.weatherImg {
  width: 196px;
  margin: 15px 0;
}